.ag-root ::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}
.ag-root ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1em;
}

.ObjectPage-titleBar-0-2-8 {
  padding: 0.5rem 0rem 0.5rem 2rem !important;
}

.ObjectPage-header-0-2-5 {
  padding-right: 0 !important;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar .c-sidebar-nav-link:hover {
  background: #303c54 !important;
}

:host .ui5-shellbar-root {
  padding: 0.25rem 0.5rem !important;
}
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:focus {
  outline: none !important;
}
.wrapper,
.quill,
.app .ql-content,
.app .ql-editor {
  height: 100%;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}

.assignment-leave:hover {
  border-radius: 50px;
  background-color: #ffc59a !important;
}
.assignment-remote:hover {
  border-radius: 50px;
  background-color: #f9ff3e !important;
}
.assignment-overtime:hover {
  background-color: #56f94d !important;
  border-radius: 9px;
}
.assignment-remote-overtime:hover {
  background-color: #9ce1f7 !important;
  border-radius: 9px;
}
.assignment-normal:hover {
  background-color: #f5f5f5 !important;
  border-radius: 9px;
}
